<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <h4><a href="https://www.linkedin.com/in/vaibhav-08a8091b3/">LINKEDIN</a></h4>
<%- include("partials/footer"); -%>
